 .box1 {
     color: rgb(137, 205, 228);
     font-size: clamp(30px, 2.5vw, 40px);
     line-height: clamp(45px, 3.5vw, 55px);
     font-weight: 700;
 }

 .box2 {
     color: #ffffff;
     font-size: clamp(20px, 1.35vw, 30px);
     line-height: clamp(28px, 1.8vw, 38px);
     font-weight: 600;
 }